ion-content {
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-toolbar {
    --background: #109AFF;
    --color: #ffffff;
}

ion-button {
    --background: #109AFF;
    --color: #ffffff;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
