ion-content {
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-button {
    --background: #109AFF;
    --color: #ffffff;
    text-transform: none;
}

ion-button.Voltar {
    --background: #1E1E1E;
    --color: #109AFF;
    --box-shadow: 0;
}
