<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centro">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/entrar" size="small" class="Voltar">Voltar</ion-button>
          <ion-input label="Nome" [(ngModel)]="nome" labelPlacement="stacked" placeholder="Digite o seu nome"></ion-input>
          <ion-input label="Sobrenome" [(ngModel)]="sobrenome" labelPlacement="stacked" placeholder="Digite o seu sobrenome"></ion-input>
          <ion-input label="E-mail" [(ngModel)]="email" labelPlacement="stacked" placeholder="Digite o seu E-mail"></ion-input>
          <ion-input label="Senha" [(ngModel)]="senha" labelPlacement="stacked" type="password" placeholder="Digite a sua senha">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-button shape="round" expand="block" (click)="cadastrar()">Criar Conta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

