ion-content {
    --background: #1a1a1a;
    --color: #ffffff;
}

ion-button {
    --background: #2718ff;
    --color: #ffffff;
    text-transform: none;
}

ion-button.Voltar {
    --background: #1a1a1a;
    --color: #2718ff;
    --box-shadow: 0;
}
