
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Historico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  
 
  <ion-accordion-group value="current" class="accordion-list">
    
    <ion-accordion value="current" class="current-appointments">
      
     
      <ion-item slot="header" color="secondary">
        <ion-label>Seus agendamentos</ion-label>
        <ion-icon slot="end" name="chevron-up-outline"></ion-icon>
      </ion-item>

     
      <div slot="content" class="accordion-content-dark"> 
        
        <ion-item lines="none" color="dark"> 
          <ion-label>09/09/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>10/10/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>11/11/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
         </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>12/12/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
      </div>

    </ion-accordion>

    <ion-accordion value="history" class="history-appointments">
      
      <ion-item slot="header" color="secondary">
        <ion-label>Histórico</ion-label>
        <ion-icon slot="end" name="chevron-up-outline" ></ion-icon>
      </ion-item>

      
      <div slot="content" class="accordion-content-dark">
        
        <ion-item lines="none" color="dark">
          <ion-label>01/01/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>02/02/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>03/03/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
        <ion-item lines="none" color="dark">
          <ion-label>04/04/2025</ion-label>
          <ion-note slot="end">10:00</ion-note>
        </ion-item>
      </div>

    </ion-accordion>
    
  </ion-accordion-group>
  
</ion-content>


<ion-footer>
  <ion-toolbar>
   
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="agendamentos" class="ion-color-selected">
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
