<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centro">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="E-mail" [(ngModel)]="email" labelPlacement="stacked" placeholder="Digite o seu E-mail"></ion-input>
          <ion-input label="Senha" [(ngModel)]="senha" labelPlacement="stacked" type="password" placeholder="Digite a sua senha">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-button size="small" class="CriarConta">Recuperar Senha</ion-button>
          <ion-button shape="round" expand="block" (click)="entrar()">Entrar</ion-button>
          <ion-button routerLink="/criar" size="small" class="CriarConta" expand="block">Criar conta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
