ion-content {
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-button {
    text-transform: none;
}

ion-button.Entrar {
    --background: #109AFF;
    --color: #ffffff;
}

ion-button.CriarConta {
    --background: #1E1E1E;
    --color: #109AFF;
    --box-shadow: 0;
}



