<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input label="E-mail" labelPlacement="stacked" placeholder="Digite o seu E-mail"></ion-input>
  <ion-input label="Senha" labelPlacement="stacked" type="password" placeholder="Digite a sua senha">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
  <ion-button class="Entrar" shape="round" expand="block">Entrar</ion-button>
  <ion-button routerLink="/criar" size="small" class="CriarConta" expand="block">Criar conta</ion-button>
</ion-content>
