<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bem-vindo ao Studio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-banner">
    <ion-icon name="cut" class="banner-icon"></ion-icon>
    <h1>Transforme seu visual hoje</h1>
    <p>Agende com os melhores profissionais do salão</p>
  </div>

  <div class="action-buttons">
    <ion-button expand="block" color="success" size="large" (click)="navigateToSchedule()">
      <ion-icon slot="start" name="calendar"></ion-icon>
      Agendar Horário
    </ion-button>

    <ion-button expand="block" fill="outline" (click)="navigateToServices()">
      <ion-icon slot="start" name="list"></ion-icon>
      Ver Serviços
    </ion-button>

    <ion-button expand="block" fill="outline" (click)="navigateToAppointments()">
      <ion-icon slot="start" name="time"></ion-icon>
      Meus Agendamentos
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="navigateToProfile()">
      <ion-icon slot="start" name="person"></ion-icon>
      Meu Perfil
    </ion-button>
  </div>
</ion-content>
