<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centro">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input label="Dia" [(ngModel)] = "dia" labelPlacement="stacked" placeholder="Digite a dia do seu agendamento"></ion-input>
          <ion-input label="Mês" [(ngModel)] = "mes" labelPlacement="stacked" placeholder="Digite o mês do seu agendamento"></ion-input>
          <ion-input label="Ano" [(ngModel)] = "ano" labelPlacement="stacked" placeholder="Digite o ano do seu agendamento"></ion-input>
          <ion-button>Cabelo</ion-button>
          <ion-button>Barba</ion-button>
          <ion-button>Bigode</ion-button>
          <ion-button>Cabelo + Barba</ion-button>
          <ion-button>Cabelo + Bigode</ion-button>
          <ion-button>Barba + Bigode</ion-button>
          <ion-button>Cabelo + Barba + Bigode</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

