ion-content {
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-datetime {
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-datetime-button {
    --background: #0163aa;
    --color: #ffffff;
}

ion-list-color{
    --background: #1E1E1E;
    --color: #ffffff;
}

ion-item {
    --background: #1E1E1E;
    --color: #ffffff;
}

.rounded-item {
  --border-radius: 12px; 
  --background: transparent;
  --inner-border-width: 0;
  --border-width: 1px;
}
