ion-content {
    --background: #1E1E1E;
    --color: #ffffff;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

ion-button {
    --background: #109AFF;
    --color: #ffffff;
}

ion-label {
    font-size: 48px;
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}